@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


body {
    background-image: url(../img/bagimg.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-width: 1150px;
}

main {
    width: 80%;
    margin: 2rem;
}


.container {
    display: flex;
}

.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    /* ボタンを左側に移動させるために調整 */
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #521a1add;
    border-radius: 10px;
    cursor: pointer;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    /* メニューを左側から画面外に配置 */
    z-index: 80;
    background-color: #521a1a9f;
    transition: left 0.5s;
    /* leftプロパティの変化をアニメーション化 */
    margin-right: 10px;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}

#pagetop {
    position: fixed;
    bottom: 20px;
    right: 30px;
}
